heroes = [
    {
        "name": "Steve Rogers ü¶∏‚Äç‚ôÇÔ∏è",
        "age": 100,
        "height": 185,
        "address": {"city": "Brooklyn", "country": "US"},
    },
    {
        "name": "Peter Parker",
        "age": 18,
        "team_name": "Avengers",
        "team": ["Iron Man", "Thor", "Hulk", "Captain America"],
    },
    {
        "name": "Bruce Banner",
        "age": 35,
    },
]


Output

Steve Rogers ü¶∏‚Äç‚ôÇÔ∏è lives in Brooklyn

Peter Parker location is Top Secret üîí
  Bruce Banner location is Top Secret üîí

In [8]:
heroes = [
    {
        "name": "Steve Rogers ü¶∏‚Äç‚ôÇÔ∏è",
        "age": 100,
        "height": 185,
        "address": {"city": "Brooklyn", "country": "US"},
    },
    {
        "name": "Peter Parker",
        "age": 18,
        "team_name": "Avengers",
        "team": ["Iron Man", "Thor", "Hulk", "Captain America"],
    },
    {
        "name": "Bruce Banner",
        "age": 35,
    },
]

for hero in heroes:
    if hero.get('address',{}).get('city'):
         print(f"{hero['name']} lives in {hero.get('address',{}).get('city','Top Secret üîí')}")
    else:
        print(f"{hero['name']} location is {hero.get('address',{}).get('city','Top Secret üîí')}")

Steve Rogers ü¶∏‚Äç‚ôÇÔ∏è lives in Brooklyn
Peter Parker location is Top Secret üîí
Bruce Banner location is Top Secret üîí

In [10]:
for hero in heroes:
    city = hero.get('address',{}).get('city')
    if city:
         print(f"{hero['name']} lives in {city}")
    else:
        print(f"{hero['name']} location is Top Secret üîí.")

Steve Rogers ü¶∏‚Äç‚ôÇÔ∏è lives in Brooklyn
Peter Parker location is Top Secret üîí.
Bruce Banner location is Top Secret üîí.

# Task 1.2

employees = [
    {"name": "Chelo", "experience": 2},
    {
        "name": "Diyali",
    },
    {
        "name": "Luvuyo",
    },
    {"name": "Jevan", "experience": 1},
]


    
print(employees)

 Output
 [{'name': 'Chelo', 'experience': 3},
  {'name': 'Diyali', 'experience': 1},
  {'name': 'Luvuyo', 'experience': 1},
  {'name': 'Jevan', 'experience': 2}]

In [5]:
employees = [
    {"name": "Chelo", "experience": 2},
    {
        "name": "Diyali",
    },
    {
        "name": "Luvuyo",
    },
    {"name": "Jevan", "experience": 1},
]

for employee in employees:
    employee["experience"] = employee.get("experience", 0) + 1
print(employees)

[{'name': 'Chelo', 'experience': 3}, {'name': 'Diyali', 'experience': 1}, {'name': 'Luvuyo', 'experience': 1}, {'name': 'Jevan', 'experience': 2}]

In [ ]:
employees = [
    {"name": "Chelo", "experience": 2},
    {
        "name": "Diyali",
    },
    {
        "name": "Luvuyo",
    },
    {"name": "Jevan", "experience": 1},
]

for name,experience in employees:  # Cannot Unpacking dictionary
   experience = experience + 1
print(employees)

TypeError: can only concatenate str (not "int") to str

# Task 1.3


inventory = [
    {"name": "Apple üçé", "quantity": 30, "price": 0.50},
    {"name": "Banana üçå", "quantity": 20, "price": 0.20},
]


### Output
 What is the product name? Orange üçä
 What is the quantity? 5
 What is the price? 0.1

 Would you like add another product? (Y/N) N
 Bye üòâ


print(inventory)
 [
     {"name": "Apple üçé", "quantity": 30, "price": 0.50},
     {"name": "Banana üçå", "quantity": 20, "price": 0.20},
     {"name": "Orange üçä", "quantity": 5, "price": 0.1},
 ]

In [ ]:
inventory = [
    {"name": "Apple üçé", "quantity": 30, "price": 0.50},
    {"name": "Banana üçå", "quantity": 20, "price": 0.20},
]
add_inventory = True
new_item ={}
while add_inventory:
    product_name = input("What is the product name? ")
    quantity = int(input("What is the quantity? "))
    price = float(input("What is the price? "))
    new_item["name"] = product_name
    new_item['quantity'] = quantity
    new_item['price'] = price
    inventory.append(new_item)
    add_new = input('Would you like add another product? (Y/N)?: ').upper()
    if add_new != 'Y':
        add_inventory = False
print(inventory)

[{'name': 'Apple üçé', 'quantity': 30, 'price': 0.5}, {'name': 'Banana üçå', 'quantity': 20, 'price': 0.2}, {'name': 'papaya', 'quantity': 80, 'price': 0.89}]